@media (max-width: 1000px) {
    .bg-img {
      display: none;
    }
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: 450px !important;
    }
    .context {
      position: static !important;
      width: 100% !important;
      padding: 2rem !important;
    }
  }
  
  .container{
    position: relative;
    height: 100%;
    margin: auto;
  }
  
  .bg-img {
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
  }
  
  .context {
    width: 50%;
    height: 80%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 10%;
    left: 50%;
    padding: 1rem;
  }